.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  padding: 2px 4px;
  cursor: default;
}

.dropdown-input {
  width: 100%;
  border: none;
  pointer-events: none;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;

  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;

  cursor: default;
}

.dropdown-list > option:hover {
  background-color: lightgray;
}

.dropdown-list > option:not(:last-child) {
  border-bottom: 1px solid #eee;
}